header
  div.logo
    a(href=global.http.link())
      img(src="/images/logo.png", alt="Etuts.co")
  nav
    ul
      li
        a(href=global.http.link('blog/category/' + global.lang.menu.code.toSlug()), title=global.lang.menu.code) #{global.lang.menu.code}
      li
        a(href=global.http.link('blog/category/' + global.lang.menu.design.toSlug()), title=global.lang.menu.design.toSlug()) #{global.lang.menu.design}
      li
        a(href=global.http.link('blog/category/' + global.lang.menu.databases.toSlug()), title=global.lang.menu.databases) #{global.lang.menu.databaes}
      li
        a(href=global.http.link('blog/category/' + global.lang.menu.programming.toSlug()), title=global.lang.menu.programming) #{global.lang.menu.programming}
      li
        a(href=global.http.link('blog/category/' + global.lang.menu.frameworks.toSlug()), title=global.lang.menu.frameworks) #{global.lang.menu.frameworks}
      li
        a(href=global.http.link('blog/categories'), title=global.lang.menu.all) #{global.lang.menu.all}
      li
        a(href=global.http.link('forums'), title=global.lang.menu.forums) #{global.lang.menu.forums}
  
  div.nav-mobile-menu.no-display
    ul
      li
        a(href="#", title=global.lang.menu.code) #{global.lang.menu.code}
      li
        a(href="#", title=global.lang.menu.design) #{global.lang.menu.design}
      li
        a(href="#", title=global.lang.menu.databases) #{global.lang.menu.databaes}
      li
        a(href="#", title=global.lang.menu.programming) #{global.lang.menu.programming}
      li
        a(href="#", title=global.lang.menu.frameworks) #{global.lang.menu.frameworks}
      li
        a(href="#", title=global.lang.menu.all) #{global.lang.menu.all}
      li
        a(href="#", title=global.lang.menu.forums) #{global.lang.menu.forums}
  
  div.nav-mobile.no-display
    a.pull(href="#")
      i.fa.fa-sort-desc

  .ads-top
    img(src="/images/ad728.png")

  .ads-top-320
    img(src="/images/ad320.png")
